<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar__center">
  <a class="navbar-brand" href="/">CRUD NodeJS
   <span>
      <img width="30px" height="30px"src="https://cdn.iconscout.com/icon/free/png-512/node-js-1174925.png" alt="">
    </span> 
    + MongoDB 
    <span>
      <img width="30px" height="30px"src="https://img.icons8.com/color/452/mongodb.png" alt="">
    </span> 
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {{#if user}}
      <li class="nav-item">
        <a class="nav-link" href="/usuario/logout">Sair</a>
      </li>
      {{else}}
      <li class="nav-item">
        <a class="nav-link" href="/usuario/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/usuario/registro">Registrar</a>
      </li>
      {{/if}}
      <li class="nav-item">
        <a class="nav-link" href="/admin/postagens">Postagens</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/categorias">Categorias <span class="sr-only">(current)</span></a>
      </li>
      {{!-- <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li> --}}
    </ul>
  </div>
</nav>