/* Glassmorphism */

.glassmorphism {
    background: rgba( 32, 11, 11, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}


/* Icones do Jumbotrom */
.zoomup{
    transition: 1s; 
}
.zoomup:hover{
    transform: scale(1.3);
}

* {
    font-family: 'Roboto', sans-serif;
}

/* Cards */

.own__card {
    background-color: rgb(174, 209, 209) !important;
}

/* Navbar */

.navbar__center{
    justify-content: center;
}
.navbar__center > div {
    max-width: 370px;
}

/* Jumbotrom */

.own__jumbotron{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/* Body */

body{
    height: 100vh;
}

.own__body {
    padding-top: 1px;
    background: rgba(245, 245, 245, 0.465);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height:100vh;
}

/* Registro */




/* Login */


.text__login{
    font-size: 3em;
}

.login{
    height: 100vh;
    /* background: linear-gradient(120deg, rgb(138, 10, 10), rgba(255, 255, 255, 0.15)); */
    display: flex;
    justify-content: start;
    padding-top: 150px;
    align-items: center;
    border-radius:10px;
    flex-direction: column;
}

.login__container{
    min-height: 300px;
    width: 400px;
    background-color: white;
    box-sizing: border-box;
    padding: 32px;
    border-radius:8px;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.login__title{
    margin-bottom: 32px;

}

.login__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login__input {
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 8px;
    border: unset;
    outline: none;
    
}

.login__input__border {
    height: 1px;
    width: 100%;
    margin-bottom: 16px;
    background-color: #cfcfcf
}