/* Glassmorphism */

.glassmorphism {
    background: rgba( 32, 11, 11, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.viewheigh100{
    height: 100vh;
}


/* Icones do Jumbotrom */
.zoomup{
    transition: 1s; 
}
.zoomup:hover{
    transform: scale(1.3);
}

* {
    font-family: 'Roboto', sans-serif;
}

/* Cards */

.own__card {
    background-color: rgb(255, 255, 255) !important;
}

/* Navbar */

.navbar__center{
    justify-content: center;
}
.navbar__center > div {
    max-width: 370px;
}

/* Jumbotrom */

.own__jumbotron{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/* Categorias */

.own__categorias{
    display: flex;
    justify-content:center;
}

.own__categorias__interior{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    margin-top: 80px;
}
.own__categorias__interior > a {
    margin: 0 5px;
}



/* Body */

body{
    height: 100vh;
    /* background-color: #D0E4F5;
    background-image: url("https://thumbs.dreamstime.com/b/digital-art-illustrator-background-repeat-cube-used-as-background-image-painting-advertising-media-digital-art-140012508.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: 0 0; */
}

.own__body {
    padding-top: 1px;
    background: rgba(245, 245, 245, 0.465);
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 100vh;

    
}

/* Registro */

.own__registro{
    display: flex;
    justify-content:center;
}

.own__registro__interno{
    width: 360px;
}

.own__registro__form{
    width: 100%;
}

.own__registro__container{
    min-height: 300px;
    width: 400px;
    background-color: white;
    box-sizing: border-box;
    padding: 32px;
    border-radius:8px;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.own__registro__input {
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 8px;
    border: unset;
    outline: none;
}

.own__registro__input__border {
    height: 1px;
    width: 100%;
    margin-bottom: 16px;
    background-color: #cfcfcf;
}


/* Login */


.text__login{
    font-size: 3em;
}

.login{
    height: 100vh;
    display: flex;
    justify-content: start;
    padding-top: 40px;
    align-items: center;
    border-radius:10px;
    flex-direction: column;
}

.login__container{
    min-height: 300px;
    width: 400px;
    background-color: white;
    box-sizing: border-box;
    padding: 32px;
    border-radius:8px;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.login__title{
    margin-bottom: 32px;

}

.login__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login__input {
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 8px;
    border: unset;
    outline: none;
    
}

.login__input__border {
    height: 1px;
    width: 100%;
    margin-bottom: 16px;
    background-color: #cfcfcf
}


/* Footer */

.footer{
    padding-top: 100px;
}









