<div class="teste">

    <h4 class="text-center text__login">Login</h4>
    <div class="login">
        <div class="login__container glassmorphism">
            <form action="/usuario/login" class="login__form" method="post">

                <input type="text" class="form-control login__input" name="email" required placeholder="Email">
                <span class="login__input__border"></span>

                <input type="password" class="form-control login__input" name="senha" required placeholder="Senha">
                <span class="login__input__border"></span>


                <button type="submit" class="form-control btn btn-success mt-4 login__submit">Entrar</button>

            </form>
        </div>
    </div>

</div>
