<div class="own__categorias">

{{#each categorias}}
    <a href="/categorias/{{slug}}">
        <div class="alert alert-success text-center">{{nome}}</div>
    </a>
{{else}}

</div>

    <div class="alert alert-warning">Nenhuma categoria cadastrada</div>
{{/each}}
 


    
    

