



<div class="card">
    <div class="card-body">
            <h1 class="text-center display-4">{{postagem.titulo}}</h1>
            <hr>
            <p class="text-center">{{postagem.data}}</p>
            <br>
            <p class="text-center">{{postagem.conteudo}}</p>
    </div>
</div>